example/data/response.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="note">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="to" type="xs:string">{{to}}</xs:element>
      <xs:element name="from" type="xs:string">Cork</xs:element>
      <xs:element name="heading" type="xs:string"></xs:element>
      <xs:element name="body" type="xs:string">{{body}}</xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>